<div class="container">
  <h1 class="mb-4">All Cars</h1>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.brand %></td>
          <td><%= car.car_model %></td>
          <td><%= car.status %></td>
          <td>
            <%= link_to 'Show', admin_car_path(car), class: 'btn btn-info btn-sm text-white' %>
            <%= link_to 'Edit', edit_admin_car_path(car), class: 'btn btn-warning btn-sm text-white' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

