<h1>All Cars</h1>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.car_model %></td>
        <td><%= car.status %></td>
        <td>
          <%= link_to 'Show', admin_car_path(car) %>
          <%= link_to 'Edit', edit_admin_car_path(car) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
