<div class="container">
  <h1 class="mb-4">All Users</h1>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Show', admin_user_path(user), class: 'btn btn-info btn-sm text-white' %>
            <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm text-white' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add Admin', new_admin_admin_users_path, class: 'btn btn-primary text-white' %>
</div>
