<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="mb-4">Add New Admin</h2>

      <%= form_with url: create_admin_admin_users_path, local: true, html: { class: 'needs-validation', novalidate: true } do |form| %>
        <div class="mb-3">
          <%= form.label :name, class: 'form-label' %>
          <%= form.text_field :name, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please enter the name.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :email, class: 'form-label' %>
          <%= form.email_field :email, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please enter the email.
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :password, class: 'form-label' %>
          <%= form.password_field :password, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            Please enter the password.
          </div>
        </div>

        <div class="mb-3">
          <%= form.submit 'Create Admin', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <p><%= link_to 'Back', admin_users_path %></p>
    </div>
  </div>
</div>
